.main_num-one_section {
  background-color: $color-back;
  padding: 4.8rem 0 9.6rem 0;
  font-family: "Rubik", sans-serif;
}
.num-one_content {
  max-width: 120rem;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  &_text_content {
    width: 52rem;
    height: 49.5rem;
  }
  &_text_content > h1 {
    font-size: 4.4rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
    font-weight: 700;
    color: $text-clr-black;
    letter-spacing: -0.5px;
  }
  &_text_content > p {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    font-weight: 400;
    color: $section-text;
  }
  &_text_content > a {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s;
  }
  &_img_content > img {
    width: 52rem;
    height: 51.5rem;
  }
}
.left_btn {
  background-color: $btn-bgr;
  color: $btn-clr;
  margin-right: 1.6rem !important;
}
.right_btn {
  background-color: $btn-clr;
  color: $text-clr-black;
}
.users_info {
  width: 52rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem;
  &_image > img {
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
  }
}
.users_info > p {
  width: 29rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: $section-text;
}
.users_info > p > span {
  font-size: 1.8rem;
  font-weight: 600;
  color: $section-text-twoo;
}
.main_num-twoo_section {
  text-align: center;
  padding: 4.8rem 0 3.2rem 0;
  
  
}
.main_num-twoo_content{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
  }
.main_num-twoo_content>h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: $section-text-tree;
  }
  .main_num-twoo_logos {
    width: 114rem;
    display: flex;
    justify-content: space-around;
  }
  .main_num-twoo_logos>img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
  }
.main_num-tree_section {
  margin: 0 20rem;
  padding: 9.6rem 0;
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
}
.num-tree_content {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.num-tree_content>span {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: $section-text-twoo;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.num-tree_content>h2 {
  color: $text-clr-black;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.num-tree_context {
  max-width: 120rem;
  display: grid;
  column-gap: 4.8rem;
  row-gap: 6.4rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 3.2rem;
  margin: 0 auto;
}
.section_image_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_image_box>img {
  width: 12.2rem;
  height: 24.8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_text_box {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  margin: 0;
}
.section_text_box>h3 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: $text-clr-black;
}
.numeric_text {
  font-size: 7.4rem;
  font-weight: 600;
  color: $text-number;
  margin-bottom: 1.2rem;
}
.bov_text {
  font-size: 1.8rem;
  line-height: 1.8;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  color: $section-text;
}