// header
$color-back: #fdf2e9;
$btn-bgr: #e67e22;
$btn-clr: #ffffff;
$text-touch: #e67e22;
$btn-touch: #cf701c;
$text-clr-black: #333333;

// sections
$section-text: #555555;
$section-text-twoo: #cf711f;
$section-text-tree: #888888;
$text-number: #dddddd;
